
@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Menu</h1>
    <p>Take a gander at our lovely selection!</p>
</div>

@{
    foreach (Product p in Model)
    {
        <a class="nav-link text-dark p-0" asp-action="Detail" asp-route-id="@p.Id">
            <div class="card">
                <h2>@p.Name</h2>
                <p>@p.Price</p>
            </div>
        </a>
    }
}

@*Index view by category*@
@{
    List<Product> DistinctCategories = Model.DistinctBy(p => p.Category).ToList();
    foreach (Product c in DistinctCategories)
    {
        <h1>@c.Category</h1>
        foreach (Product p in Model.Where(p => p.Category == c.Category))
        {
            <p><a asp-action="detail" asp-route-id="@p.Id">@p.Name $@p.Price</a></p>
        }
    }
}

